<!DOCTYPE html>
<html>
<head>
    <title>Kayıt Ol</title>
    <style>
        .messages {
            list-style-type: none;
            padding: 0;
        }
        .messages li {
            margin-bottom: 10px;
            padding: 12px;
            border-radius: 5px;
        }
        .messages li.success {
            background-color: #d4edda;
            color: #155724;
        }
        .messages li.error {
            background-color: #f8d7da;
            color: #721c24;
        }
    </style>
</head>
<body>
    <h2>Kayıt Ol</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Kayıt Ol</button>
    </form>
    <br>
    <a href="{% url 'login' %}"><button>Giriş Yap</button></a>
</body>
</html>
